
#progressbox {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 288px;
    margin-top: -28px;
    padding: 1px;
    position: relative;
    width: 200px;
}

#progressbar {

position: relative;
	display: block;
	overflow: hidden;
	height: 20px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	-webkit-background-size: 44px 44px;
	background-color: #74d04c;
	background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(255, 255, 255
		, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)),
		color-stop(0.26, rgba(255, 255, 255, 0)),
		color-stop(0.50, rgba(255, 255, 255, 0)),
		color-stop(0.51, rgba(255, 255, 255, 0.17)),
		color-stop(0.75, rgba(255, 255, 255, 0.17)),
		color-stop(0.76, rgba(255, 255, 255, 0)),
		color-stop(1.00, rgba(255, 255, 255, 0))),
		-webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c),
		color-stop(1, #9bdd62));
	background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17
		), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px,
		rgba(255, 255, 255, 0) 30px),
		-moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
	-webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px
		#58c43a;
	-moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px
		#58c43a;
	box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
	border: 1px solid #4c8932;
	-webkit-animation: animate-stripes 2s linear infinite;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}